
/*
  Display flex cross-platform
*/
.containerWrapper, .containerColumn, .formContainer, .threeColumnGridContainer, .twoColumnGridContainer {
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
}

/*flex-wrap with wrap*/
.formContainer, .threeColumnGridContainer {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

/*justify-content at flex-start*/
.containerWrapper {
  justify-content: flex-start;
  justify-content: -ms-flex-start;
  justify-content: -moz-flex-start;
  justify-content: -webkit-flex-start;
}

/*justify-content at space-around content*/
.threeColumnGridContainer {
  justify-content: space-around;
  justify-content: -ms-space-around;
  justify-content: -moz-space-around;
}

/*flex direction flow column*/
.containerColumn {
  flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
}

/*0 flex auto*/
.footerItem, .footerContainer .brandLogo {
  flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

/*1 flex*/
.headerContainer, .containerWrapper, .twoGridColumnItem  {
  flex: 1;
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-flex: 1;
}

/* 1 1 flex auto*/
.containerColumn, .threeColumnGridContainer {
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}

/*align-self at flex-start*/
.footerItem {
  align-self: flex-start;
  align-self: -ms-flex-start;
  align-self: -moz-flex-start;
  align-self: -webkit-flex-start;
}

.formContainer {
  align-items: flex-end;
  flex-direction: column;
}




/*
	media queries /////////////////////////////////
*/
/*856 pixel*/
@media (max-width: 53.5em) {
  .headerItem {
    display: none;
  }

}
