#sideNavItems a, #sideNavItems a:visited, #sideNavToggle {
	display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 1.5em 1em;
  margin-bottom: -0.05em;
  background: #DDD;
  color: #666;
  border-style: solid;
  border-width: thin 0;
  border-color: #CCC;
  transition: background-color 0.5s;
  visibility: visible;
}

#sideNavToggle img {
	height: 100%;
	width: auto;
}

#sideNavItems img {
	width: 100%;
	height: auto;
	padding: 1em;
}

#sideNavItems a:hover, #sideNavItems a:focus {
  color: #A1C2DB;
  transition: color 0.5s ease;
}

#sideNavToggle {
	background-color: #DDD;
	display: block;
	border: 0;
	height: 70px;
	padding: 1em;
}


#sideNavToggle:hover, #sideNavToggle:focus {
  color: #99CCCC;
	transition: color 0.5s ease;
}

#mainNavToggle.hidden, #mainNavItems.hidden, #sideNavToggle.hidden, #sideNavItems.hidden {
	visibility: hidden;
	display: none;
}

#mainNavToggle button	,#sideNavToggle button {
	border: none;
	color: #666;
  height: 100%;
}
