.forumFormContainer {
  display: flex;
}

.forumFormItem {
  flex: 1;
}

.forumFormButton {
  border: 1px solid #99CCCC;
  padding: 0.75em 3em;
  border-radius: 0.5em;
  text-decoration: none;
  display: inline;
}

a.newPostButton {
  display: inline-block;
  padding: 0.75em 3em;
  border-radius: 0.5em;
  text-decoration: none;
}


/*---------------------------------------------Forum Posts Section*/
.leftAlignTextOnly {
  text-align: left;
}

.forumPostBoxes {
  padding: 1.5em;
  background-color: white;
  margin: 1em 0;
  transition: background-color  0.5s ease;
}

.forumPostBoxes:hover {
  background-color: #ffd9bf;
}

a.forumPostTitle {
  color: #486da8;
  text-decoration: none;
  font-size: 1.3em;
}

p.forumPostDate {
  color: red;
  margin: 0;
  font-size: 0.8em;
  color: #BBB;
}

p.forumPostDetail {
  margin: 0;
  margin-top: 1em;
  color: black;
  line-height: 1.7em;
  font-size: 0.95em;
}
/*---------------------------------------------Forum Posts Section End*/

/*---------------------------------------------Account Left Side Design*/
.accountLeftSide {
  flex: 1;
  background-color: #ffffff;
}

.accountSideMenu {
  color: #ffffff;
  font-size: 1.2em;
  text-decoration: none;
  margin-top: 3em;
  margin-bottom: 3em;
}

a.accountSideMenuLinks {
  color: #363738;
  text-decoration: none;
  transition: color  0.2s ease;
}

a.accountSideMenuLinks:hover {
  color: #61C9f9;
}

a.linkHighlight {
  color: #61C9f9;
}

.solidLineDivideAccount {
  margin: 1em 2em;
	border-top: 1px solid #333;
}

/*---------------------------------------------Account Left Side Design End*/

/*---------------------------------------------Account Right Side Design*/
.accountRightSide {
  flex: 5;
  background-color: #ffffff;
}

.accountRightSideContainer {
  display: flex;
  flex-direction: column;
}

.accountRightSideItemTopContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.accountRightSideItemTopContainerPurchase3 {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.centerColumnFormForAccount {
  margin: 0 25%;
}

.accountPurchaseMethodItem {
  border: 1px solid #A1C2DB;
  padding: 1em 3em;
  border-radius: 0.5em;
	text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #A1C2DB;
	color: #FFF;
}

.accountRightSideItemBottomContainer {
  display: flex;
  flex: 5;
  justify-content: flex-end;
}

.accountRightBottomItemPositive {
  margin-right: 1em;
}
.accountRightBottomItemNegative {
}

.accountMenuTitles {
  flex: 3;
  justify-content: flex-start;
  padding: 0.7em 0.5em;
  /*margin: 2em;
  margin-top: 1.4em;
  margin-bottom: 1.2em;*/
}

div.scrollCart {
  margin: auto;
  max-width: 100%;
  max-height: 40vh;
  background: #99CCCC;
  overflow: scroll;
  overflow-x: hidden;
}

.threeColumnGridForAccount {
  margin-top: 1.3em;
}

.accountPosButtonItem {
  margin: auto;
  flex: 1;
  justify-content: flex-end;
  border: 1px solid #A1C2DB;
  padding: 1em 3em;
  border-radius: 0.5em;
	text-align: center;
  text-decoration: none;
  background-color: #A1C2DB;
	color: #FFF;
}

.accountNegButtonItem {
  margin: 2.5em 1em;
  flex: 1;
  justify-content: flex-end;
  border: 1px solid #E0BA64;
  padding: 1em 3em;
  border-radius: 0.5em;
	text-align: center;
  text-decoration: none;
  display: block;
  background-color: #E0BA64;
	color: #FFF;
}

.formItemContainer {
  display: flex;
  margin-top: 1em;
	width: 100%;

  text-align: left;
	color: #333;
}

.formItemsItems {
  margin: 0em 2em;
  flex: 1 1 auto;
}

.purchaseMessage {
  font-size: 1.4em;
}
/*---------------------------------------------Account Right Side Design END*/
