.forumFormContainer {
  display: flex;
}

.forumFormItem {
  flex: 1;
}

.forumFormButton {
  border: 1px solid #99CCCC;
  padding: 0.75em 3em;
  border-radius: 0.5em;
  text-decoration: none;
  display: inline;
}

a.newPostButton {
  display: inline-block;
  padding: 0.75em 3em;
  border-radius: 0.5em;
  text-decoration: none;
}


/*---------------------------------------------Forum Posts Section*/
.leftAlignTextOnly {
  text-align: left;
}

.forumPostBoxes {
  padding: 1.5em;
  background-color: white;
  margin: 1em 0;
  transition: background-color  0.5s ease;
}

.forumPostBoxes:hover {
  background-color: #ffd9bf;
}

a.forumPostTitle {
  color: #486da8;
  text-decoration: none;
  font-size: 1.3em;
}

p.forumPostDate {
  color: red;
  margin: 0;
  font-size: 0.8em;
  color: #BBB;
}

p.forumPostDetail {
  margin: 0;
  margin-top: 1em;
  color: black;
  line-height: 1.7em;
  font-size: 0.95em;
}
/*---------------------------------------------Forum Posts Section End*/

/*---------------------------------------------Account Left Side Design*/
.accountLeftSide {
  flex: 1;
}

.accountSideMenu {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  margin-top: 3em;
  margin-bottom: 3em;
}

a.accountSideMenuLinks {
  color: white;
  text-decoration: none;
}

.solidLineDivideAccount {
  margin: 1em 2em;
	border-top: 1px solid #333;
}
/*---------------------------------------------Account Left Side Design End*/

/*---------------------------------------------Account Right Side Design*/
.accountRightSide {
  flex: 3;
  background-color: #ffffff;
}

.accountRightSideContainer {
  display: flex;
  flex-direction: column;
}

.accountRightSideItemTop {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.accountRightSideItemBottom {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.accountMenuTitles {
  margin: 2em;
  margin-top: 1.4em;
  margin-bottom: 1.2em;
}

div.scrollCart {
  margin: 0em 4.2em;
  max-width: 100%;
  max-height: 40vh;
  background: #99CCCC;
  overflow: scroll;
  overflow-x: hidden;
}

.threeColumnGridForAccount {
  margin-top: 1.3em;
}
