/*clear floats for style of grids*/
*, *::after, *::before {
	box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: #020309;
  padding: 0;
  margin: 0;
}

h1 {
  display: block;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

h3 {
  color: #FFF;
  font-weight: 400;
}

/*
  Header styling ////////////////////////
*/
header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 70px;
  z-index: 1000;
  padding: 0 2em;
	background: rgba(0, 0, 0, 0.1);
}

header a, footer a{
  text-decoration: none;
  font-weight: 500;
  color: #FFF;
  opacity: 0.6;
}

.headerContainer {
	display: inline-block;
  width: 100%;
  height: 100%;
}

.headerItem {
  margin: 18px 18px 0 18px;
  padding: 10px 3px;
}

.headerItem:active, .headerItem:hover, .headerItem:focus {
  opacity: 1;
}

.brandLogo {
  align-items: center;
  background: #999;
  padding: 20px;
  height: 55px;
  margin: 7px 10px 0 0;
}

.navBar {
  margin-top: 25px;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.currentPage {
  opacity: 1;
  box-shadow: inset 0 -1px 0 0 #FFF;
}

.lineDivid {
  margin: 20px 10px;
  border-left: 1px solid #FFF;
  padding: 0;
}
/*
  Header styling end here ////////////////
*/


/*
  Footer styling ////////////////////////
*/
footer {
  padding: 0 2em;
}

.footerContainer{
  padding: 3em 0 1em;
}

.containerWrapper {
  margin: 0;
}

.containerColumn {
  margin-bottom: 20px;
}

.footerItem {
  padding: 10px 0;
}

.footerItem:hover, .footerItem:focus{
  opacity: 1;
}

.footerContainer .brandLogo {
  margin-right: 60px;
}

.copyRightText {
  text-align: center;
  max-width: 100%;
  margin-top: 30px;
}
/*
  Footer styling end here ////////////////
*/



/*
  Content styling ////////////////////////
*/
.contentContainer {
  background: linear-gradient(to top left, rgba(67, 83, 255, 0) 55%, rgba(67, 83, 255, 0.25));
  height: 1000px;
}

/*
  Content styling end here ////////////////
*/


/*theme styling*/

.lightTheme {
  background: rgba(255, 255, 255, 0);
}

.darkTheme {
  background: rgba(0, 0, 0, 0);
}
