/*clear floats for style of grids*/
*, *::after, *::before {
	box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  background: #020309;
  padding: 0;
  margin: 0;
}

h1 {
	font-size: 2.3em;
	margin: 0.5em 0;
}

h2 {
	color: #99CCCC;
	font-size: 2em;
}

h3 {
  color: #FFF;
  font-weight: 400;
}

p {
	line-height: 2em;
	font-size: 1em;
	font-weight: lighter;
}

.button {
	border: 1px solid #A1C2DB;
  padding: 1em 3em;
  border-radius: 0.5em;
	text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttonFill {
	background-color: #A1C2DB;
	color: #FFF;
}

.buttonUnfill {
	background-color: #FFF;
	color: #99CCCC;
}

figure {
	margin: 0;
}

.leftAlignText, .formItem, .productList {
	text-align: left;
	color: #333;
}

ul li {
	list-style: none;
}

/*
  Header styling ////////////////////////
*/
header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 70px;
  z-index: 1000;
  padding: 0 2em;
	background: rgba(0, 0, 0, 0.1);
	transition: background-color  0.5s ease;
}

header a, footer a{
  text-decoration: none;
  font-weight: 500;
  color: #FFF;
  opacity: 0.6;
}

.headerContainer {
	display: inline-block;
  width: 100%;
  height: 100%;
}

.headerItem {
  margin: 18px 18px 0 18px;
  padding: 10px 3px;
}

.headerItem:active, .headerItem:hover, .headerItem:focus {
  opacity: 1;
}

.brandLogo {
  align-items: center;
	text-align: center;
  background: #999;
  padding: 20px;
  height: 55px;
  margin: 7px 10px 0 0;
}

.navBar {
  margin-top: 25px;
}

.sideBody {
	background: white;
	max-width: 85%;
	margin-left: 17%;
}

.sideMenu {
	background: white;
	max-width: 17%;
	height: 100vh;
	position: fixed;
	left: 0;
	border-right: 1px solid #DDD;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.currentPage {
  opacity: 1;
  box-shadow: inset 0 -1px 0 0 #DDD;
}
/*
  Header styling end here ////////////////
*/

/*style guide styling*/
.sideBody section {
	padding: 0 7em;
}

.sideBody h3 {
	color: #99CCCC;
}

code {
	display: block;
	line-height: 2em;
	padding: 1.25em;
  margin-bottom: 1em;
	background-color: #F8FFF8;
  color: #666;
  border: 0.1em solid #99CCCC;
  border-left-width: thick;
}

.sideBody section header {
	position: inherit;
	padding: 0;
}

.sideBody section .headerContainer {
	background: rgba(0, 0, 0, 0.9);
}

.sideBody section a.headerItemSingle {
	text-decoration: none;
	background: rgba(0, 0, 0, 0.9);
	color: rgba(255, 255, 255, 0.6);
	margin: auto 0;
	padding: 10px 2em;
	font-weight: 500;
}

.sideBody section a.headerItemSingle:hover, .sideBody section a.headerItemSingle:focus {
	color: rgba(255, 255, 255, 1);
}

.sideBody section input {
	width: auto;
}

.bullettedList li{
	list-style: disc;
}
/*style guide styling end here */



/*
  Footer styling ////////////////////////
*/
footer {
  padding: 0 2em;
}

.footerContainer{
  padding: 3em 0 1em;
}

.containerWrapper {
  margin: 0;
}

.containerColumn {
  margin-bottom: 20px;
}

.footerItem {
  padding: 10px 0;
	display: block;
}

.footerItem:hover, .footerItem:focus{
  color: #84D8FF;
}

.footerContainer .brandLogo {
  margin-right: 60px;
}

.copyRightText {
  max-width: 100%;
  margin-top: 30px;
}
/*
  Footer styling end here ////////////////
*/




/*theme styling*/
.lightHeaderTheme {
  background: rgba(255, 255, 255, 0);
}

.lightHeaderTheme a {
	color: #666;
}

.darkHeaderTheme {
  background: rgba(0, 0, 0, 0);
}

.darkHeaderTheme a {
	color: #FFF;
}

.lightThemeContent {
	background: #FFF;
}

.darkThemeContent {
	background: #323B40;
	color: #ADC3CF;
}

.transparentContent {
	background: transparent;
	color: #ADC3CF;
}

.lineDivid {
  margin: 20px 10px;
  border-left: 1px solid #666;
  padding: 0;
}

.lightLine {
  border-left: 1px solid #CCC;
}

.darkLine {
  border-left: 1px solid #999;
}

/*
  Content styling ////////////////////////
*/
.centerAlign {
	text-align: center;
}

.leftAlign {
	text-align: left;
}

.rightAlign {
	text-align: right;
}

.contentContainer {
  background: linear-gradient(to top left, rgba(67, 83, 255, 0) 55%, rgba(67, 83, 255, 0.25));
}

.fullImageContainer {
	display: block;
	max-width: 100vw;
	height: 100vh;
	position: relative;
}

.fullLengthImage {
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.filterOverlayHalf {
	opacity: 0.5;
}

.filterOverlayEight {
	opacity: 0.8;
}

.centerImgOnImg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 20%;
	color: #FFF;
	font-size: 3rem;
	margin: 0;
}

/*center contents styling*/
.centerContent {
	margin: 0 10%;
	padding: 7em 0;
}

.fullLengthText {
	max-width: 100%;
	margin: 0 20%;
}

.oneColumnContent {
	margin: 1em 15%;
}


/*form styling*/
.formContainer {
}

.centerColumnForm {
	box-shadow: inset 0 2px 0 0 #99CCCC;
	margin: 0 35%;
	padding-top: 2em;
}

.formItem {
	display: inline-block;
  margin: 1em 0;
	width: 100%;
}

input[id], textarea {
  display: block;
	width: 100%;
	padding: 1em 3em 1em 1.5em;
	margin: 0.5em 0em;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type=search] {
	border-radius: 0.5em;
	/*margin-right: 1.5em;*/
	padding: 1em 3em 1em 1.5em;
	border: 1px solid #DDD;
	width: 50%;
}


/*carousel styling*/
.carouselButton {
	position: absolute;
	top: 50%;
	color: #FFF;
	background: transparent;
	font-size: 3em;
	margin: 0;
	padding: 0;
	border: none;
	opacity: 0.7;
}

.carouselButton:hover, .carouselButton:focus {
	opacity: 1;
	outline: none;
}

.buttonLeft {
	left: 1em;
}
.buttonRight {
	right: 1em;
}

.displayShow {
	display: block;
}

.displayHide {
	display: none;
}

h3.leftAlignText {
	font-size: 1.25em;
	margin-bottom: 2em;
}

.lightButtonOnImg {
	background: #FFF;
	color: #333;
	border: none;
	border-radius: 0;
	position: absolute;
	top: 99%;
	left: 50%;
	transform: translate(-50%, -99%);
	padding: 1.25em 4em;
}

 /*
 	3 column grid styling //////////////////////////////////
 */
.threeColumnGridContainer {
	margin-top: 2em;
}

.threeGridColumnItem {
	display: inline-block;
	max-width: 30%;
	margin: 2em 0.1em;
	box-shadow: inset 0 1px 0 0 #DDD;
}

img.columnGridImg {
	max-width: 100%;
	height: auto;
	border: 1px solid #DDD;
}

img.columnGridImg:hover, img.columnGridImg:focus {
	opacity: 0.5;
}

h3.subjectTitle {
	color: #666;
	font-weight: 400;
}

h4.subjectTitle {
	font-size: 1.2em;
	margin: 0.75em 0;
}

p.subjectInfo {
	margin: 0;
	color: #AAA;
	line-height: 1.7em;
	font-size: 0.95em;
}

p.subSubjectInfo {
	font-size: 0.8em;
	color: #BBB;
}

p.productList {
	color: #222;
}

p.productList strong {
	font-weight: lighter;
	color: #999;
	text-decoration: line-through;
}

.productListings {
	margin-bottom: 2.5em;
}

.solidLineDivid {
	margin: 3em 0;
	border-top: 1px solid #999;
}

.dotLineDivid {
	margin: 3em 0;
	border-top: 1px dotted #DDD;
	letter-spacing: 5px;
}

.shortLineTwentyPercent {
	margin-top: 0;
	margin-left: 40%;
	margin-right: 40%;
}

 /*2 column grid styling*/
.twoColumnGridContainer {
	margin-top: 2em;
}

.twoGridColumnItem {
	/*This used to be 50%*/
	max-width: 100%;
}

div.twoGridColumnItem.subjectSide {
	max-width: 100%;
	margin: 0 2em;
	align-self: center;
}


/*product list styling*/
.captionInsideTop {
	position: relative;
}

.captionInsideTop figcaption {
	position: absolute;
	padding: 0.5em 1em;
	font-size: 0.75em;
	color: white;
	background-color: rgba(67, 133, 183, 0.5);
}

.captionPositionRight figcaption {
	right: 0;
}

/*default link style*/
.inTextLink {
  color: #84D8FF;
}

.inTextLink:active, .inTextLink:hover {
  color: #EA9B2C;
}

/*
  Content styling end here ////////////////
*/
