/*clear floats for style of grids*/
*, *::after, *::before {
	box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  background: #020309;
  padding: 0;
  margin: 0;
}

h1 {
	font-size: 2.3em;
	margin: 0.5em 0;
}

h2 {
	color: #A1C2DB;
	font-size: 2em;
}

h3 {
  color: #FFF;
  font-weight: 400;
}

p {
	line-height: 2em;
	font-size: 1em;
	font-weight: lighter;
}

.button {
	border: 1px solid #A1C2DB;
  padding: 1em 3em;
	text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttonFill {
	background-color: #A1C2DB;
	color: #FFF;
}

.buttonFill:hover, .buttonFill:focus {
	background-color: #0A4378;
	transition: background-color 0.5s ease;
}

.buttonUnfill {
	background-color: #FFF;
	color: #A1C2DB;
}

.buttonUnfill:hover, .buttonUnfill:focus {
	background-color: #F7941D;
	color: #FFF;
	transition: background-color 0.5s ease;
}

figure {
	margin: 0;
}

.leftAlignText, .formItem, .productList {
	text-align: left;
	color: #333;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
	line-height: 2em;
}

/*
  Header styling ////////////////////////
*/
header {
  position: fixed;
  width: 100%;
  height: 82px;
  z-index: 1000;
	padding: 0 2%;
	background: rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: background-color  0.5s ease;
}

header .headerContainer a {
	text-decoration: none;
	display: block;
	float: left;
	margin: 18px 1% 0;
  padding: 10px 3px;
	font-weight: 500;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
}

.headerContainer a:active, .headerContainer a:hover, .headerContainer a:focus {
  color: rgba(255, 255, 255, 1);
}

.headerContainer a#hamburgerMenu {
    display: none;
}

.headerContainer .account {
	float: right;
}

.headerContainer .hide {
	pointer-events: none;
}

.brandLogo {
  align-items: center;
	text-align: center;
  padding: 20px;
  height: 55px;
  margin: 7px 10px 0 0;
}

#topHeader img.brandLogo, footer img {
	width:auto;
	height: 50px;
	padding: 0;
	margin: -12px 0 0;
	background: none;
}

footer .brandLogo a{
	opacity: 1;
}

.navBar {
  margin-top: 25px;
}

.sideBody {
	background: white;
	max-width: 85%;
	margin-left: 17%;
}

.sideMenu {
	background: white;
	max-width: 17%;
	height: 100vh;
	position: fixed;
	left: 0;
	border-right: 1px solid #DDD;
}

.sideBody ul li {
	padding-bottom: 1.5em;
	line-height: normal;
}

.sideBody ul li a {
  color: #5375ad;
	word-wrap: break-word;
}

.sideBody ul li a:active, .sideBody ul li a:hover {
  color: #EA9B2C;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.currentPage {
  opacity: 1;
  box-shadow: inset 0 -1px 0 0 #DDD;
}
/*
  Header styling end here ////////////////
*/

/*
	style guide styling  /////////////////////////////
*/
/*style guide: content body styling*/
.sideBody section {
	padding: 0 7em;
}

.sideBody h3 {
	color: #A1C2DB;
}

/*style guide: sample code styling*/
code {
	display: block;
	line-height: 2em;
	padding: 1.25em;
  margin-bottom: 1em;
	background-color: #FDFEFF;
  color: #666;
  border: 0.1em solid #A1C2DB;
  border-left-width: thick;
}

/*style guide: extra header styling*/
.sideBody section header {
	position: inherit;
	background: rgba(0, 0, 0, 0.9);
}

.sideBody section .headerContainer {
	background: rgba(0, 0, 0, 0.9);
}

.sideBody section a.headerItemSingle {
	text-decoration: none;
	background: rgba(0, 0, 0, 0.9);
	color: rgba(255, 255, 255, 0.6);
	margin: auto 0;
	padding: 10px 2em;
	font-weight: 500;
}

.sideBody section a.headerItemSingle:hover, .sideBody section a.headerItemSingle:focus {
	color: rgba(255, 255, 255, 1);
}

/*style guide: extra form input styling*/
.sideBody section input {
	width: auto;
}

/*style guide: extra list styling*/
ul.bullettedList, .bullettedList li, ol.numberedList, .numberedList li {
	padding-left: 1em;
}

.bullettedList li{
	list-style: disc;
}


/*style guide: extra footer styling*/
.sideBody section footer {
	background: #020309;
}

.sideBody section footer h3 {
	color: #FFF;
}

/*style guide: grid structure styling*/
.colGrid {
  margin: 0;
}

.colItem {
  background-color: #C1DAE5;
  padding: 1em;
}

p.colItemName {
  margin: 0;
  padding: 2em;
  background-color: #A1C2DB;
	color: #FFF;
  text-align: center;
}
/*end of style guide: grid structure styling*/

/*style guide: color swatches styling*/
.colorSwatchBox {
	margin: -1em -1em 2em;
}

.colorSwatchItem {
  background-color: inherit;
}

p.cw1{
	background-color: #F7941D;
}

p.cw2{
  background-color: #0A4378;
}

p.cw3{
  background-color: #A1C2DB;
}

p.cw4{
  background-color: #333;
}

p.cw5{
  background-color: #666;
}

p.cw6{
  background-color: #999;
}

p.cw7{
  background-color: #DDD;
}

p.cw8{
  background-color: #FFF;
	border: 1px solid #DDD;
	color: #333;
}

p.cw9{
  background-color: #84D8FF;
}

p.cw10{
  background-color: #C1DAE5;
}

p.cw11{
  background-color: #020309;
}

.cw12BG {
	background-color: #020309;
}

p.cw12{
  background: linear-gradient(to top left, rgba(67, 83, 255, 0) 55%, rgba(67, 83, 255, 0.25));
}
/*end of color swatches styling*/

/*
	style guide styling end here /////////////////////////////
*/



/*
  Footer styling ////////////////////////
*/
footer {
  padding: 0 2em;
}

footer a{
  text-decoration: none;
  font-weight: 500;
  color: #FFF;
  opacity: 0.6;
}

.footerContainer{
  padding: 3em 0 1em;
}

.containerWrapper {
  margin: 0;
}

.containerColumn {
  margin-bottom: 20px;
	margin-right: 1em;
}

.footerItem {
  padding: 10px 0;
	display: block;
}

.footerItem:hover, .footerItem:focus{
  color: #84D8FF;
}

.footerContainer .brandLogo {
  margin-right: 60px;
}

.copyRightText {
  max-width: 100%;
  margin-top: 30px;
}
/*
  Footer styling end here ////////////////
*/




/*theme styling*/
.lightHeaderTheme {
  background: rgba(255, 255, 255, 0);
}

.lightHeaderTheme a {
	color: #666;
}

.darkHeaderTheme {
  background: rgba(0, 0, 0, 0.2);
}

.darkHeaderTheme a {
	color: #FFF;
}

.lightThemeContent {
	background: #FFF;
}

.darkThemeContent {
	background: #333;
	color: #ADC3CF;
}

.transparentContent {
	background: transparent;
	color: #ADC3CF;
}

.lineDivid {
  margin: 20px 10px;
  border-left: 1px solid #DDD;
  padding: 0;
}

.lightLine {
  border-left: 1px solid #DDD;
}

.darkLine {
  border-left: 1px solid #999;
}

/*
  Content styling ////////////////////////
*/
.centerAlign {
	text-align: center;
}

.leftAlign, .leftAlignTextOnly {
	text-align: left;
}

.rightAlign {
	text-align: right;
}

.contentContainer {
  background: linear-gradient(to top left, rgba(67, 83, 255, 0) 55%, rgba(67, 83, 255, 0.25));
	padding-top: 82px;
}

.fullImageContainer {
	display: block;
  max-width: 100vw;
  height: 88vh;
	position: relative;
}

.fullLengthImage {
	width: 100%;
	height: 100%;
	object-fit:cover;
}

.filterOverlayHalf {
	opacity: 0.5;
}

.filterOverlayEight {
	opacity: 0.8;
}

.centerOnImg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	color: #FFF;
	font-size: 3rem;
	margin: 0;
	text-align: center;
}

/*center contents styling*/
.centerContent {
	margin: 0 10%;
	padding: 7em 0;
}

.fullLengthText {
	max-width: 100%;
	margin: 0 20%;
}

.oneColumnContent {
	margin: 1em 15%;
}

/*form styling*/
.formContainer {
}

.centerColumnForm {
	box-shadow: inset 0 2px 0 0 #A1C2DB;
	margin: 0 35%;
	padding-top: 2em;
}

.formItem {
	display: inline-block;
  margin: 1em 0;
	width: 100%;
}

input[id], textarea, select, option {
  display: block;
	width: 100%;
	padding: 1em 3em 1em 1.5em;
	margin: 0.5em 0em;
	border: 1px solid #DDD;
	color: #333;
}

input[type=search] {
	/*margin-right: 1.5em;*/
	padding: 1em 3em 1em 1.5em;
	border: 1px solid #DDD;
	width: 50%;
}

/*carousel styling*/
.carouselButton {
	position: absolute;
	top: 50%;
	color: #FFF;
	background: transparent;
	font-size: 3em;
	margin: 0;
	padding: 0;
	border: none;
	opacity: 0.7;
}

.carouselButton:hover, .carouselButton:focus {
	opacity: 1;
	color: #84D8FF;
	outline: none;
}

.buttonLeft {
	left: 1em;
}
.buttonRight {
	right: 1em;
}

.displayShow {
	display: block;
}

.displayHide {
	display: none;
}

h3.leftAlignText {
	font-size: 1.25em;
	margin-bottom: 2em;
}

.lightButtonOnImg {
	background: #FFF;
	color: #333;
	border: none;
	border-radius: 0;
	position: absolute;
	top: 99%;
	left: 50%;
	transform: translate(-50%, -99%);
	padding: 1.25em 4em;
}

.lightButtonOnImg:hover, .lightButtonOnImg:focus {
	color: #FFF;
	transition: color 0.5s ease;
}

 /*
 	3 column grid styling //////////////////////////////////
 */
.threeColumnGridContainer {
	margin-top: 2em;
}

.threeGridColumnItem {
	display: inline-block;
	max-width: 30%;
	margin: 2em 0.1em;
	box-shadow: inset 0 1px 0 0 #DDD;
	/*border: 1px solid #FFF;*/
	background-color: #ffffff;
}

.threeGridColumnItem a {
	text-decoration: none;
}

.threeGridColumnItem a .subjectTitle:hover, .threeGridColumnItem a .subjectTitle:focus {
	color: #A1C2DB;
	transition: color 0.5s ease;
}

.threeGridColumnItem:hover, .threeGridColumnItem:focus {
	color: #F7941D;
}

img.columnGridImg {
	display: block;
	max-width: 100%;
	height: auto;
	border: 1px solid #DDD;
}

img.columnGridImg:hover, img.columnGridImg:focus {
  opacity: 0.5;
}

h3.subjectTitle {
	color: #666;
	font-weight: 400;
}

h4.subjectTitle {
	font-size: 1.2em;
	margin: 0.75em 0;
}

p.subjectInfo {
	margin: 0;
	color: #999;
	line-height: 1.7em;
	font-size: 0.95em;
	text-align: left;
}

p.subSubjectInfo {
	font-size: 0.8em;
	color: #BBB;
	text-align: left;
}

p.productList {
	color: #333;
}

p.productList strong {
	font-weight: lighter;
	color: #999;
	text-decoration: line-through;
}

.productListings {
	margin-bottom: 2.5em;
}

p.star {
	color: #F7941D;
	padding-top: 0.5em;
	padding-right: 0.5em;
}

.solidLineDivid {
	margin: 3em 0;
	border-top: 1px solid #999;
}

.dotLineDivid {
	margin: 3em 0;
	border-top: 1px dotted #DDD;
	letter-spacing: 5px;
}

.subjectSide hr.dotLineDivid {
	margin: 0.75em 0;
}

a.button.buttonFill.fullLength {
	width: 100%;
	margin: 1em 0;
	padding: 0.75em;
}

.shortLineTwentyPercent {
	margin-top: 0;
	margin-left: 40%;
	margin-right: 40%;
}

 /*2 column grid styling*/
.twoColumnGridContainer {
	margin-top: 2em;
}

.twoGridColumnItem {
	/*This used to be 50%*/
	max-width: 100%;
}

div.twoGridColumnItem.subjectSide {
	max-width: 100%;
	margin: 0 2em;
	align-self: center;
}


/*product list styling*/
.captionInsideTop {
	position: relative;
}

.captionInsideTop figcaption {
	position: absolute;
	padding: 0.5em 1em;
	font-size: 0.75em;
	color: white;
	background-color: rgba(67, 133, 183, 0.5);
}

.captionPositionRight figcaption {
	right: 0;
}

/*default link style*/
.inTextLink {
  color: #5375ad;
}

.inTextLink:active, .inTextLink:hover {
  color: #EA9B2C;
}

/*
  Content styling end here ////////////////
*/



/*---------------------------------------------Forum Posts Section*/
a.newPostButton, .forumFormButton {
  display: inline-block;
  padding: 0.75em 3em;
  border-radius: 0.5em;
  text-decoration: none;
}

.forumFormButton {
  border: 1px solid #A1C2DB;
  display: inline;
}

.forumPostBoxes {
  padding: 1.5em;
  background-color: white;
  margin: 1em 0;
}

a.forumPostTitle {
  color: #0A4378;
  text-decoration: none;
  font-size: 1.3em;
}

p.forumPostAuthorAndDate {
  margin: 0;
  font-size: 0.8em;
  color: #BBB;
}

p.forumPostDetail {
  margin: 0;
  margin-top: 1em;
  color: black;
  line-height: 1.7em;
  font-size: 0.95em;
}

/*---------------------------------------------Forum Posts Section End*/



/*---------------------------------------------Account Left Side cart and all Account Design*/
.accountLeftSide {
  background-color: #FFF;
}

.accountSideMenu {
  font-size: 1.2em;
  text-decoration: none;
  margin-top: 3em;
  margin-bottom: 3em;
}

a.accountSideMenuLinks, li .generalLink {
  color: #333;
  text-decoration: none;
  transition: color  0.2s ease;
}

a.accountSideMenuLinks:hover, li .generalLink:hover {
  color: #F7941D;
}

a.linkHighlight {
  color: #A1C2DB;
}

.solidLineDivideAccount {
  margin: 1em 2em;
	border-top: 1px solid #333;
}

/*---------------------------------------------Account Left Side Design End*/


/*---------------------------------------------Account Right Side Design*/
.accountRightSide {
  background-color: #333;
}

.accountRightSideItemBottomContainerPurchase3 {
  margin: 0em 2em;
}

.accountRightSideItemBottomContainer.flexflowRow {
	display: block;
}

.centerColumnFormForAccount {
  margin: 0 25%;
}

.accountRightBottomItemPositive {
  margin-right: 1em;
}

.accountMenuTitles {
  padding: 0.7em 1em;
}

.threeColumnGridForAccount {
  margin-top: 1.3em;
}

.accountPurchaseMethodItem, .accountPosButtonItem, .accountSecondPosButtonItem, .accountNegButtonItem {
  margin: 2.5em 2em;
  border: 1px solid #A1C2DB;
  padding: 1em 0.5em;
	text-align: center;
  text-decoration: none;
  background-color: #A1C2DB;
	color: #FFF;
}

.accountPurchaseMethodItem {
  padding: 1em 3em;
  display: inline-block;
}

.accountSecondPosButtonItem {
  margin-left: 0em;
  border-radius: 0.5em;
}

.accountNegButtonItem {
  margin-left: 0em;
  border: 1px solid #F7941D;
  background-color: #F7941D;
}

.accountPosButtonItem:hover, .accountPosButtonItem:focus,
.accountSecondPosButtonItem:hover, .accountSecondPosButtonItem:focus,
.accountNegButtonItem:hover, .accountNegButtonItem:focus {
  opacity: 0.8;
}

.formItemContainer {
  margin-top: 1em;
	width: 100%;

  text-align: left;
	color: #333;
}

.formItemsItems {
  margin: 0em 2em;
}

.purchaseMessage {
  font-size: 1.4em;
  text-align: left;
}

.marginLeftAndRight {
	margin: 0em 2em;
}

.threeColumnGridContainer .leftAlign {
	padding: 0em;
}

.threeGridColumnItem {
	padding-bottom: 1em;
}

h4.subjectTitle.productList {
	padding: 0em 1em;
}

p.subjectInfo.productList {
	padding: 0em 1.3em;
}

.threeColumnGridContainer.marginLeftAndRight div.threeGridColumnItem {
	padding: 0em;
}

div[class="threeGridColumnItem"] div[class="formItem"] label {
	display: block;
	padding: 1em;
}

/*---------------------------------------------Account Right Side Cart cart and all Account Design END*/




/*---------------------------------------------Account Profile Design*/
.accProfileBottomRightItemLeft {
  margin-top: 1.3em;
}

.accProfileBottomRightItemRight {
  margin-right: 3em;
}

.profileImg {
  width: 60%;
  border-radius: 3em;
}

.profileTitles {
  color: #A1C2DB;
  margin-bottom: 0em;
}


.profileContent {
  color: #FFF;
  margin-top: 0em;
  font-size: 1.5em;
}

.profileBioContent {
  color: #FFF;
  margin-top: 0.5em;
  font-size: 1em;
}
/*---------------------------------------------Account Profile Design END*/





/*---------------------------------------------Account Forum Posts Design*/
.accForumPostsCentered {
  margin: 0 10%;
  width: 100%;
}

.accForumPostsOutlined {
  border-style: solid;
  border-width: thin;
}
/*---------------------------------------------Account Forum Posts Design END*/



/*---------------------------------------------Account Notification Design*/
.notifyItemColumns {
  margin: 0em 2em;
}

.notifyLeftRightMargins {
  margin: 1em 1em;
  transition: background-color  0.5s ease;
}

a.alertNotify, .purchaseHistoryArrivedOrCancelled {
  color: #F7941D;
}

div.scrollDiv {
  margin: auto;
  max-width: 100%;
  max-height: 65vh;
  overflow: scroll;
  overflow-x: hidden;
}
/*---------------------------------------------Account Notification Design END*/





/*---------------------------------------------Account Purchase History Design*/
.purchaseHistoryContainer {
  width: 100%;
}

.purchaseHistoryDateItem {
  border-right-style: solid;
  border-width: thin;
}

.purchaseHistoryDate {
  margin: 0em 1.5em;
  margin-left: 0em;
}

.purchaseHistoryProducts, .purchaseHistoryStatus {
  margin: 0em 1.5em;
}

.purchaseHistoryStatus {
  margin-left: 0em;
}

.purchaseHistoryArriving {
  color: #0A4378;
}

.purchaseHistoryArrivalMarginTop {
  margin-top: 2em;
}

li .generalLink {
	display: block;
	margin: 0em 1em;
}

/*---------------------------------------------Account Purchase History Design END*/



/*filtering products*/
.filterProduct {
  display: none;
}

.show {
  display: block;
}
/*filtering products end here */
