/*
	media queries /////////////////////////////////
*/
/*856 pixel*/
@media (max-width: 53.5em) {
  .headerContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .headerItem {
    flex: 1;
    margin: 2em;
  }
}

/*1232 pixel*/
@media (max-width: 77em) {
  /*footer*/
  .containerWrapper {
    display: block;
  }

  .footerContainer .brandLogo {
    margin: 0;
  }
  /*footer end here*/
}


/*768 pixel - ipad size*/
@media (max-width: 48em) {
  /*style guide side navigation men & content*/
  .sideBody {
    max-width: 100%;
    margin-left: 0;
  }

  .sideBody section {
    padding: 0 2em;
  }

  .sideMenu {
    position: relative;
    max-width: 100%;
    height: 0;
    background: transparent;
    float: none;
  }

  #sideNavItems img {
    display: none;
  }

  /*ipad size style guide media query end here*/
}
